<div class = "float-right">  
  <% if logged_in? %>
    <% if @spot.like_user(current_user.id).present? %>
      <%= link_to spot_like_path(spot_id: @spot.id, id: @spot.likes.find_by(user_id: current_user.id).id), method: :delete, remote: true do %>
        <div class="vertical_like">
          <svg class="h-8 w-8 text-red-500 text-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"/>
          </svg>
        </div>
      <% end %>
    <% else %>
      <%= link_to spot_likes_path(spot_id: @spot.id), method: :post, remote: true do %>
        <div class="vertical_like text-right">
          <svg class="h-8 w-8 text-gray-500 hover:text-red-500 text-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"/>
          </svg>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

