<li class="page-item inline-block mr-1">
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, remote: remote, class: 'px-2 py-1 border border-gray-300 bg-white hover:bg-purple-500 hover:text-white rounded text-xs' %>
</li>