<div class="flex justify-center mt-8 pb-10">
  <div class="w-full max-w-4xl">
    <div class="bg-white shadow-md rounded my-6">
      <div class="p-4" id="js-table-feedback_comment">
        <% @feedbacks.each do |feedback| %>
          <%= render 'feedbacks/feedback_comment', feedback: feedback %>
        <% end %>
      </div>
    </div>
  </div>
</div>